<h1><mat-icon>class</mat-icon>Project <a class="title" [routerLink]="['/project', projectversion.project_name, 'versions']">{{projectversion.project_name}}</a><span class="title">/{{projectversion.name}}</span></h1>

<nav mat-tab-nav-bar>
    <a mat-tab-link routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive"
       [routerLink]="['/project', projectversion.project_name, projectversion.name, 'info']">Info</a>
    <a mat-tab-link routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"
       [routerLink]="['/project', projectversion.project_name, projectversion.name, 'repos']">Source Repositories</a>
</nav>

<table class="mat-elevation-z8 info-table">
    <tr>
        <td><strong>APT Repository</strong></td>
        <td><a href="{{ projectversion.apt_url }}" target="_blank">{{ projectversion.apt_url }}</a></td>
    </tr>
    <tr>
        <td><strong>Base Mirror</strong></td>
        <td><a [routerLink]="['/mirror/' + projectversion.basemirror ]">{{ projectversion.basemirror }}</a></td>
    </tr>
    <tr>
        <td><strong>Architectures</strong></td>
        <td>{{ projectversion.architectures }}</td>
    </tr>
</table>

<br/>
<h2>Repository Dependencies</h2>
<mat-paginator [pageSizeOptions]="[10, 50, 100, 1000]" showFirstLastButtons></mat-paginator>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="dependency">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{width: '200px'}"><mat-form-field>
            <input matInput placeholder="Dependency" #inputName>
        </mat-form-field></th>
        <td mat-cell *matCellDef="let element" [routerLink]="['/project', element.project_name, element.name]">
            <strong> {{element.project_name}}/{{element.name}} </strong>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell [ngClass]="'action-menu'" *matHeaderCellDef>
            <button mat-icon-button aria-label="add" (click)="add()"><mat-icon>control_point</mat-icon></button>
        </th>
        <td mat-cell [ngClass]="'action-menu'" *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['/project', element.project_name, element.name]">
                    <mat-icon>list</mat-icon>Details
                </button>
                <button mat-menu-item (click)="removeDependency(element.project_name, element.name)"><mat-icon>delete</mat-icon> Delete</button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" (contextmenu)="contextmenu($event, i)"></tr>
    <ng-container matColumnDef="footer">
        <td mat-footer-cell *matFooterCellDef colspan="100%">
            <div *ngIf="(dataSource.total$ | async) == -1">
                Loading...
            </div>
            <div *ngIf="(dataSource.total$ | async) == 0">
                No entries found
            </div>
            <div *ngIf="(dataSource.total$ | async) === -404" [ngStyle]="{color: 'red'}">
                Unable to load data ({{dataSource.error$ | async }})
            </div>
        </td>
    </ng-container>
    <tr mat-footer-row *matFooterRowDef="['footer']" [ngStyle]="(dataSource.total$ | async) < 1 ? {} : {display: 'none'}"></tr>
</table>
