<mat-icon style="float: left; padding-top: 4px;">class</mat-icon><h1 mat-dialog-title>Create Project Version</h1>
<div mat-dialog-content>
    <form [formGroup]="form" [ngStyle]="{height: '360px'}">

        <p><strong>Dependency</strong><app-validation-error [control]="form.get('dependency')"></app-validation-error></p>
        <mat-form-field floatLabel="never" style="width: 400px; padding-left: 45px; padding-top: 10px;">
            <input matInput formControlName="dependency" placeholder="-- Select Dependency --" [matAutocomplete]="auto" (input)="changeDependency()">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let entry of dependencies | keyvalue" [value]="entry.value">
                    {{ entry.value }}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialog.close()">Cancel</button>
    <button mat-button (click)="save()" [disabled]="!form.valid">Ok</button>
</div>



