<div *ngIf="projectversion" style="display: flex; flex-direction: column; flex-grow: 1">
    <h1>
        <mat-icon>class</mat-icon>Project <a class="title" [routerLink]="['/project', projectversion.project_name, 'versions']">{{projectversion.project_name}}</a>
        <span class="title">/{{projectversion.name}}</span>
    </h1>
    <div *ngIf="projectversion.description" [ngStyle]="{ 'padding': '10px' }">{{ projectversion.description }}</div>

    <nav mat-tab-nav-bar>
        <a mat-tab-link routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive"
           [routerLink]="['/project', projectversion.project_name, projectversion.name, 'info']">Info</a>
        <a mat-tab-link routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"
           [routerLink]="['/project', projectversion.project_name, projectversion.name, 'builds']">Builds</a>
        <a mat-tab-link routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive"
           [routerLink]="['/project', projectversion.project_name, projectversion.name, 'repos']">Source Repositories</a>
        <a mat-tab-link routerLinkActive #rla4="routerLinkActive" [active]="rla4.isActive"
           [routerLink]="['/project', projectversion.project_name, projectversion.name, 'aptsources']">APT Sources</a>
    	<a mat-tab-link routerLinkActive #rla5="routerLinkActive" [active]="rla5.isActive"
    	   [routerLink]="['/project', projectversion.project_name, projectversion.name, 'dependents']">Dependents</a>
    </nav>

    <div class="mat-elevation-z8 info-table">
      <div>
          <table style="border-collapse: collapse">
              <tr>
                  <td><strong>APT Repository</strong></td>
                  <td><a class="link" href="{{ projectversion.apt_url }}" target="_blank">{{ projectversion.apt_url }}</a></td>
  
                  <td><strong>State</strong></td>
                  <td>
                      <mat-icon *ngIf="projectversion.is_locked">lock</mat-icon>
                      <mat-icon *ngIf="!projectversion.is_locked">lock_open</mat-icon>
                  </td>
              </tr>
              <tr>
                  <td><strong>Base Mirror</strong></td>
                  <td><a class="link" [routerLink]="['/mirror/' + projectversion.basemirror ]">{{ projectversion.basemirror }}</a></td>
  
                  <td><strong>Dependency policy</strong></td>
                  <td>{{ projectversion.dependency_policy }}</td>
              </tr>
              <tr>
                  <td><strong>Architectures</strong></td>
                  <td>{{ projectversion.architectures.join(', ') }}</td>
  
                  <td><strong>CI Builds</strong></td>
                  <td>
                      <mat-icon *ngIf="projectversion.ci_builds_enabled">done</mat-icon>
                      <mat-icon *ngIf="!projectversion.ci_builds_enabled">remove</mat-icon>
                  </td>
              </tr>
          </table>
      </div>
   </div>
   <br/>

    <app-build-table [projectversion]=projectversion></app-build-table>
</div>
