<mat-icon style="float: left; padding-top: 4px;">class</mat-icon>
<h1 *ngIf="!repo" mat-dialog-title>Add git Repository</h1>
<h1 *ngIf="repo" mat-dialog-title>Edit git Repository</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <p><strong>git Repository URL</strong> <app-validation-error [control]="form.get('url')"></app-validation-error></p>
        <mat-form-field>
            <input matInput formControlName="url" required cdkFocusInitial [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let url of giturls$ | async" [value]="url">
                    {{url}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        <p><strong>Architectures</strong><app-validation-error [control]="form.get('architectures')"></app-validation-error></p>
        <mat-checkbox *ngFor="let arch of ['amd64', 'i386', 'arm64', 'armhf']; let i = index" formControlName="architecture{{ i }}" (change)="updateArchs()">{{ arch }}</mat-checkbox>

        <br/>
        <br/>
    </form>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="dialog.close()">Cancel</button>
    <button mat-button (click)="save()" [disabled]="!form.valid">Ok</button>
</div>
