.key {
    font-family: 'Courier New';
    word-break:break-all;
    white-space: pre-wrap;
    font-size: xx-small;
    user-select: all;
    margin-top: 10px;
    overflow-y: auto;
    padding: 0px 10px 10px 10px;
}

p {
    line-height: 1.25;
    margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}
