<div>
    <h1><mat-icon>layers</mat-icon>Repository<span class="title">&nbsp;{{repo.name}} ({{repo.id}})</span></h1>

    <div class="mat-elevation-z8 info-table">
        <table>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{repo.name}}</td>
            </tr>
            <tr>
                <td><strong>URL</strong></td>
                <td><span class="link">{{repo.url}}</span></td>
            </tr>
            <tr>
                <td><strong>State</strong></td>
                <mat-icon *ngIf="repo.state == 'ready'" class="buildstate-successful">done</mat-icon>
                <mat-icon *ngIf="repo.state == 'busy'" class="buildstate-building">sync</mat-icon>
                <mat-icon *ngIf="repo.state == 'error'" class="buildstate-build_failed">clear</mat-icon>
            </tr>
        </table>
    </div>
</div>
