<mat-icon style="float: left; padding-top: 4px;">class</mat-icon>
<h1 mat-dialog-title>Edit git repository</h1>
<div mat-dialog-content>
    <form [formGroup]="form">
        <p><strong>git Repository URL</strong> <app-validation-error [control]="form.get('url')"></app-validation-error></p>
        <mat-form-field>
            <input matInput formControlName="url" required cdkFocusInitial>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <app-alert></app-alert>
    <button mat-button (click)="dialog.close()" [disabled]="clicked">Cancel</button>
    <button mat-button (click)="save()" [disabled]="!form.valid || clicked">Ok</button>
</div>
