<mat-icon style="float: left; padding-top: 4px;">class</mat-icon><h1 mat-dialog-title>Trigger Build</h1>
<div mat-dialog-content>
    <form [formGroup]="form" [ngStyle]="{height: '360px'}">
        Trigger a build for <span class="link">{{repo.url}}</span><br/>

        <p><strong>Git Reference</strong><app-validation-error [control]="form.get('gitref')"></app-validation-error></p>
        <mat-form-field floatLabel="never" style="width: 400px; padding-left: 45px; padding-top: 10px;">
            git tag, branch oder commit hash
            <input matInput formControlName="gitref" cdkFocusInitial>
        </mat-form-field>

        <p><strong>Projectversions</strong> <app-validation-error [control]="form.get('pv')"></app-validation-error></p>
        <mat-form-field floatLabel="never" style="width: 400px; padding-left: 45px; padding-top: 10px;">
            <input matInput formControlName="pv" [matAutocomplete]="auto">
            <!-- FIXME: multi-select dropdown-->
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option [value]="'From debian/molior.yml'">From debian/molior.yml</mat-option>
                <mat-option *ngFor="let pv of projectversions$ | async" [value]="pv">
                    {{pv}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
    <app-alert></app-alert>
    <button mat-button (click)="dialog.close()" [disabled]="clicked">Cancel</button>
    <button mat-button (click)="save()" [disabled]="!form.valid || clicked">Ok</button>
</div>



