<mat-icon style="float: left; padding-top: 4px;">layers</mat-icon>
<div mat-dialog-content style="display: flex; height: 450px;">
    <form [formGroup]="form" style="width: 100%">
    </form>
</div>
<div mat-dialog-actions>
    <app-alert></app-alert>
    <button mat-button (click)="dialog.close()">Cancel</button>
    <button mat-button (click)="stepper.previous()" *ngIf="stepper.selectedIndex > 0">Back</button>
    <button mat-button (click)="stepper.next()"     *ngIf="stepper.selectedIndex < formArray.length - 1">Next</button>
    <button mat-button (click)="save()"             *ngIf="stepper.selectedIndex == formArray.length - 1" [disabled]="!form.valid">OK</button>
</div>



