<mat-icon style="float: left; padding-top: 4px;">class</mat-icon>
<h1 mat-dialog-titlei *ngIf="!token">Create Authentication Token</h1>
<h1 mat-dialog-titlei *ngIf="token">Edit Authentication Token</h1>
<div mat-dialog-content>
    <br/>
    <form [formGroup]="form">
        <mat-radio-group formControlName="tokentype" style="display: flex; flex-direction: row;">
            <mat-radio-button value="new" checked>Create new token</mat-radio-button>
            <mat-radio-button value="existing">Use existing token</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="form.value.tokentype == 'new'">
            <p>Description <app-validation-error [control]="form.get('description')"></app-validation-error></p>
            <mat-form-field>
                <input matInput formControlName="description" required [attr.readonly]="form.value.token.length > 0" cdkFocusInitial>
            </mat-form-field>
            <button mat-raised-button (click)="create()" [disabled]="form.value.token.length > 0 || !form.get('description').valid">Create</button>
            <p>Token</p>
            <mat-form-field>
                <input matInput formControlName="token" readonly>
            </mat-form-field>
            <span>Note: token cannot be displayed anymore once this dialog is closed</span>
            <br/>
        </div>
        <div *ngIf="form.value.tokentype == 'existing'">
            <p>Description <app-validation-error [control]="form.get('description')"></app-validation-error></p>
            <mat-form-field>
                <input matInput formControlName="description" required [matAutocomplete]="autoToken" (input)="searchTokens()">
                <mat-autocomplete #autoToken="matAutocomplete">
                    <ng-container *ngFor="let entry of descriptions">
                        <mat-option [value]="entry.description">
                            {{entry.description}}
                        </mat-option>
                    </ng-container>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <app-alert></app-alert>
    <button mat-button (click)="dialog.close()" [disabled]="clicked">Cancel</button>
    <button mat-button (click)="save()" [disabled]="(form.value.tokentype === 'new' && form.value.token.length === 0) || this.clicked">Ok</button>
</div>
