<h1><mat-icon>developer_board</mat-icon>Nodes</h1>
<mat-paginator showFirstLastButtons hidePageSize></mat-paginator>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{width: '48px', 'padding-left': '6px', 'text-align': 'center'}">Type</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]" [ngStyle]="{width: '48px', 'padding-left': '6px', 'text-align': 'center'}">
            <mat-icon *ngIf="element.arch=='amd64'" svgIcon="amd64" [ngStyle]="{'margin-right': '0px'}"></mat-icon>
            <mat-icon *ngIf="element.arch=='arm64'" svgIcon="arm64" [ngStyle]="{'margin-right': '0px'}"></mat-icon>
            <mat-icon *ngIf="element.arch=='armhf'" svgIcon="arm" [ngStyle]="{'margin-right': '0px'}"></mat-icon>
            <mat-icon *ngIf="element.arch=='i386'" svgIcon="x86" [ngStyle]="{'margin-right': '0px'}"></mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef [ngStyle]="{width: '200px'}"><mat-form-field>
            <input matInput placeholder="Name" #input>
        </mat-form-field></th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            <strong> {{element.name}} </strong>
        </td>
    </ng-container>

    <ng-container matColumnDef="arch">
        <th mat-header-cell *matHeaderCellDef>Architecture</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{element.arch}}
        </td>
    </ng-container>

    <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{element.state}}
        </td>
    </ng-container>

    <ng-container matColumnDef="load">
        <th mat-header-cell *matHeaderCellDef>Load</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            <mat-icon [ngStyle]="{'color': getLoadColor(element.load[0]) }" matTooltip="1min: {{ element.load[0] }}">stop</mat-icon>
            <mat-icon [ngStyle]="{'color': getLoadColor(element.load[1]) }" matTooltip="5min: {{ element.load[1] }}">stop</mat-icon>
            <mat-icon [ngStyle]="{'color': getLoadColor(element.load[2]) }" matTooltip="15min: {{ element.load[2] }}">stop</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="cpu_cores">
        <th mat-header-cell *matHeaderCellDef>CPU cores</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{element.cpu_cores}}
        </td>
    </ng-container>

    <ng-container matColumnDef="ram_mem">
        <th mat-header-cell *matHeaderCellDef>RAM [GB]</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{getMemory(element)}}
            <mat-icon *ngIf="memoryAlmostFull(element)" color="warn">warning</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="disk">
        <th mat-header-cell *matHeaderCellDef>Disk [GB]</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{getDisk(element)}}
            <mat-icon *ngIf="diskAlmostFull(element)" color="warn">warning</mat-icon>
        </td>
    </ng-container>

    <ng-container matColumnDef="machine_id">
        <th mat-header-cell *matHeaderCellDef>Machine ID</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{element.machine_id}}
        </td>
    </ng-container>

    <ng-container matColumnDef="ip">
        <th mat-header-cell *matHeaderCellDef>IP address</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{element.ip}}
        </td>
    </ng-container>

    <ng-container matColumnDef="client_ver">
        <th mat-header-cell *matHeaderCellDef>Client version</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{element.client_ver}}
        </td>
    </ng-container>

    <ng-container matColumnDef="uptime_seconds">
        <th mat-header-cell *matHeaderCellDef>Uptime</th>
        <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.name]">
            {{ getUptime(element) }}
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell [ngClass]="'action-menu'" *matHeaderCellDef [ngStyle]="{width: '6em', 'min-width': '6em'}">
        </th>
        <td mat-cell [ngClass]="'action-menu'" *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" id="menu_{{element.id}}" aria-label="">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="['./'+element.name]"><mat-icon>list</mat-icon>Details</button>
            </mat-menu>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;" (contextmenu)="contextmenu($event, element)"></tr>
    <ng-container matColumnDef="footer">
        <td mat-footer-cell *matFooterCellDef colspan="100%">
            <div *ngIf="(dataSource.total$ | async) === -1">
                Loading...
            </div>
            <div *ngIf="(dataSource.total$ | async) === 0">
                No entries found
            </div>
            <div *ngIf="(dataSource.total$ | async) === -404" [ngStyle]="{color: 'red'}">
                Unable to load data ({{dataSource.error$ | async }})
            </div>
        </td>
    </ng-container>
    <tr mat-footer-row *matFooterRowDef="['footer']" [ngStyle]="(dataSource.total$ | async) < 1 ? {} : {display: 'none'}"></tr>
</table>
