.aptsources {
    white-space: pre;
    margin-top: 10px;
    padding: 10px 50px 10px 10px;
    background: black;
    font-family: monospace;
    color: lightgrey;
    line-height: 115%;
}

::ng-deep .debsource {
    display: inline-block;
}

::ng-deep .debsource span:nth-child(1) {
    color: green;
}

::ng-deep .debsource span:nth-child(2) {
    color: darkturquoise;
}

::ng-deep .debsource span:nth-child(3) {
    color: darkgoldenrod;
}

::ng-deep .debsource span:nth-child(4) {
    color: green;
}
