<h1><mat-icon>assignment</mat-icon>Admin</h1>
<h2>Configuration page for settings</h2>
<nav mat-tab-nav-bar>
  <a mat-tab-link routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive"
     [routerLink]="['/admin']">Cleanup Job</a>
  <a mat-tab-link routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"
     [routerLink]="['/retention']">Package Retention</a>
     <a mat-tab-link routerLinkActive #rla3="routerLinkActive" [active]="rla3.isActive"
     [routerLink]="['/maintenance_config']">Maintenance</a>
</nav>
<div class="admin-content">
  <table>
    <tr>
      <td>
        <div class="weekdays-container">
          <h2>Configuration for the cleanup job:</h2>
          <label for="cleanupWeekdays">Selected Days:</label>
          <div *ngFor="let day of cleanupWeekdays" class="weekday">
            <input type="checkbox" [checked]="formGroup.get(day)?.value" disabled />
            {{ day }}
          </div>
        </div>
      </td>
      <td>
        <div class="time-selection">
          <label for="cleanupTime">Selected Time:</label>
          <div class="time-input">
            <input type="text" id="cleanupTime" [value]="formGroup.get('cleanupTime').value" disabled />
          </div>
        </div>
        <div class="cleanup-active-checkbox" style="margin-top: 10px;">
          <label for="cleanupActive">Cleanup Active:</label>
          <input type="checkbox" [checked]="formGroup.get('cleanupActive').value" disabled />
        </div>
      </td>
      <td>
        <div class="edit-settings-button">
          <button mat-raised-button color="primary" (click)="openSettingsDialog()">Edit Settings</button>
        </div>
      </td>
      <td>
        <div class="start-cleanup-button">
          <button mat-raised-button color="primary" (click)="startManualCleanup()">Start Manual Cleanup</button>
        </div>
      </td>
    </tr>
  </table>
</div>
