.admin-content {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Distribute content evenly horizontally */
  align-items: flex-start; /* Align content at the top */
}

.weekdays-container,
.time-selection {
  flex: 1; /* Share available horizontal space equally */
  padding: 10px; /* Optional padding between the two sections */
  margin-bottom: 10px;
}
.weekdays-container h2 {
  margin-bottom: 20px; /* Add margin-bottom to create space between the h2 and label */
}

.weekdays-container > label {
  margin-bottom: 20px; /* Add margin-bottom to create space after the label */
}

p {
    line-height: 1.25;
    margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
  margin-top: 10px;
}

li {
  margin-bottom: 5px;
}

.edit-settings-button button {
  margin-top: 10px;
  background-color: #571845;
  color: white;
}

.start-cleanup-button button {
  margin-top: 10px;
  background-color: #571845;
  color: white;
}

.edit-maintenance-button button {
  background-color: #571845;
  color: white;
}
.edit-retention-button button {
  background-color: #571845;
  color: white;
}

.left-section {
  vertical-align: top; /* Align the left section to the top */
}

.right-section {
  vertical-align: top; /* Align the right section to the top */
}
