<h1><mat-icon>assignment</mat-icon>Admin</h1>
<h2>Configuration page for settings</h2>
<div class="admin-content">
  <table>
    <tr>
      <td>
        <div class="weekdays-container">
          <h2>Configuration for the cleanup job:</h2>
          <label for="selectedDays">Selected Days:</label>
          <div *ngFor="let day of weekdays" class="weekday">
            <input type="checkbox" [(ngModel)]="weekdaysForm[day].value" [disabled]="true" />
            {{ day }}
          </div>
        </div>
      </td>
      <td>
        <div class="time-selection">
          <label for="selectedTime">Selected Time:</label>
          <div class="time-input">
            <input type="text" id="selectedTime" [value]="selectedTime" disabled />
          </div>
        </div>
      </td>
      <td>
        <div class="edit-settings-button">
          <button mat-raised-button color="primary" (click)="openSettingsDialog()">Edit Settings</button>
        </div>
      </td>
    </tr>
  </table>
</div>
