<h2 mat-dialog-title>Edit Package Retention Policy</h2>
<mat-dialog-content>
  <form [formGroup]="form">
  <div>
    <mat-checkbox formControlName="enableSuccessfulRetention" (change)="toggleRetention('successful', $event.checked)">
      Enable Retention
    </mat-checkbox>
    <div style="margin-top: 10px;">
    <label for="successfulBuilds"><strong>Cleanup Retention for Successful Builds:</strong></label>
    <p>Specify maximum number of <strong>successful</strong> builds per source repository to retain:</p>
    <input type="number" id="successfulBuilds" formControlName="retentionSuccessfulBuilds" min="0"/>
    <div *ngIf="form.get('retentionSuccessfulBuilds').invalid && (form.get('retentionSuccessfulBuilds').dirty || form.get('retentionSuccessfulBuilds').touched)">
      <div *ngIf="form.get('retentionSuccessfulBuilds').errors?.required">Required</div>
      <div *ngIf="form.get('retentionSuccessfulBuilds').errors?.min || form.get('retentionSuccessfulBuilds').errors?.max">
        Please enter a value greater than or equal to 0.
      </div>
    </div>
  </div>
  </div>
  <div style="margin-top: 20px;">
    <mat-checkbox formControlName="enableFailedRetention" (change)="toggleRetention('failed', $event.checked)">
      Enable Retention
    </mat-checkbox>
    <div style="margin-top: 10px;">
    <label for="failedBuilds"><strong>Cleanup Retention for Failed Builds:</strong></label>
    <p>Specify how many days you want to keep <strong>failed</strong> builds for:</p>
    <input type="number" id="failedBuilds" formControlName="retentionFailedBuilds" min="0"/>
    <div *ngIf="form.get('retentionFailedBuilds').invalid && (form.get('retentionFailedBuilds').dirty || form.get('retentionFailedBuilds').touched)">
      <div *ngIf="form.get('retentionFailedBuilds').errors?.required">Required</div>
      <div *ngIf="form.get('retentionFailedBuilds').errors?.min">
        Please enter a value greater than or equal to 0.
      </div>
    </div>
  </div>
  </div>
</form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" [disabled]="form.get('retentionSuccessfulBuilds').invalid || form.get('retentionFailedBuilds').invalid" (click)="save()">Save</button>
</mat-dialog-actions>