<h1><mat-icon>people</mat-icon>Accounts</h1>

<nav mat-tab-nav-bar>
    <a mat-tab-link routerLinkActive #rla1="routerLinkActive" [active]="rla1.isActive"
       [routerLink]="['/users']">Users</a>
    <a mat-tab-link routerLinkActive #rla2="routerLinkActive" [active]="rla2.isActive"
       [routerLink]="['/tokens']">Tokens</a>
</nav>

<mat-paginator showFirstLastButtons hidePageSize></mat-paginator>
<div id="table-wrapper" [ngStyle]="{display: 'flex', 'flex-direction': 'column', 'flex-grow': 1 }" (window:resize)="resize2parent()">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (wheel)="scroll($event)">

        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{width: '200px'}">
                <mat-form-field>
                    <input matInput placeholder="Username" #inputName>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.username]">
                <strong> {{element.username}} </strong>
            </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{width: '20em', 'min-width': '20em'}">
                <mat-form-field>
                    <input matInput placeholder="Email" #inputEmail>
                </mat-form-field>
            </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.username]"> {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="is_admin">
            <th mat-header-cell *matHeaderCellDef [ngStyle]="{width: '140px'}">
                <mat-checkbox (change)="filterAdmin()" #inputAdmin [ngStyle]="{'padding-right': '10px'}" matTooltip="Show Admins only" [ngClass]="'table-header'"></mat-checkbox>
                <span>Administrator</span>
            </th>
            <td mat-cell *matCellDef="let element" [routerLink]="['./'+element.username]" [ngStyle]="{'text-align': 'center'}">
                <mat-icon *ngIf="element.is_admin">done</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell [ngClass]="'action-menu'" *matHeaderCellDef>
                <button mat-icon-button aria-label="create" (click)="create()"><mat-icon>person_add</mat-icon></button>
            </th>
            <td mat-cell [ngClass]="'action-menu'" *matCellDef="let element">
                <button mat-icon-button [matMenuTriggerFor]="menu" id="menu_{{element.id}}" aria-label="">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['./', element.username]"><mat-icon>list</mat-icon>Details</button>
                    <button *ngIf="element.username !== 'admin'" mat-menu-item (click)="edit(element)"><mat-icon>edit</mat-icon>Edit</button>
                    <button *ngIf="element.username !== 'admin'" mat-menu-item (click)="delete(element)"><mat-icon>delete</mat-icon>Delete</button>
                </mat-menu>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: displayedColumns;" (contextmenu)="contextmenu($event, element)"></tr>
        <ng-container matColumnDef="footer">
            <td mat-footer-cell *matFooterCellDef colspan="100%">
                <div *ngIf="(dataSource.total$ | async) == -1">
                    Loading...
                </div>
                <div *ngIf="(dataSource.total$ | async) == 0">
                    No entries found
                </div>
                <div *ngIf="(dataSource.total$ | async) === -404" [ngStyle]="{color: 'red'}">
                    Unable to load data ({{dataSource.error$ | async }})
                </div>
            </td>
        </ng-container>
        <tr mat-footer-row *matFooterRowDef="['footer']" [ngStyle]="(dataSource.total$ | async) < 1 ? {} : {display: 'none'}"></tr>
    </table>
</div>
